@use "./style/mocha.scss" as *;

@use "./style/shared.scss";
@use "./style/audio.scss";
@use "./style/media.scss";
@use "./style/window-title.scss";
@use "./style/workspace.scss";
@use "./style/calendar.scss";
@use "./style/network.scss";

* {
  all: unset;
  // font-family: "JetBrainsMono NFM";
  font-family: "FantasqueSansM Nerd Font";
  font-size: 12pt;
}
