@use "./mocha.scss" as *;

$accent: $lavender;

.media {
  color: $accent;
}

.media-container {
  background: $base;
  color: $text;
  padding: 10px;
  border-radius: 5px;
  min-width: 500px;
}

.media-art {
  min-width: 160px;
  min-height: 160px;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
  margin: 0;
}

.media-cover {
  border-radius: 5px;
}

.media-info {
  padding: 0;
}

.media-title {
  font-family: "LXGW WenKai TC";
  font-size: 16pt;
}

.media-album {
  font-family: "LXGW WenKai TC";
  font-size: 14pt;
  color: $subtext1;
}

.media-artist {
  font-family: "LXGW WenKai TC";
  font-size: 14pt;
  color: $subtext0;
}

.media-control {
  margin: 0 5px 0 5px;

  & button {
    background: $base;

    &:hover {
      background: $base;
      box-shadow: unset;
    }
  }
}

.media-control-butn {
  padding: 5px 10px 5px 10px;
}

.media-control-icon {
  font-family: 'Symbols Nerd Font Mono';
  font-size: 0.8rem;
  color: $text;
}

.media-slider {
  // padding: 10px 0 10px 0;

  highlight {
    background: $accent;
  }
}
